* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 300px 1fr;
    margin: 0;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif 
}


main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
        'header header header header'
        'progress progress progress subscription'
        'popular mentors mentors mentors';
    align-items: start;
    align-content: start;
    gap: 30px;
    padding: 20px 30px;
    background-color: white;
}

.course-progress {
    grid-area: progress; 
    
}

.subscription {
    grid-area: subscription;
    
}


.popular-categories {
    grid-area: popular;
    width: 290px;
    
}

.top-mentors {
    grid-area: mentors;
    width: 900px;
}

.block {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    
}

.block.block-bg {
    padding: 20px;
    border-radius: 30px;
    background-color: #eefcef;
}

.block > .title {
    margin: 0;
    font-size: 18px;
}

.block > .link {
    align-self: center;
    justify-self: end;
    font-size: 14px;
    text-decoration: none;
    color: #333;
}


.block > .content {
    margin-top: 2.7rem;
    grid-column: span 2;
}

.block > .title + .content {
    margin-top: 0;
    
}

.block > .link + .content {
    margin-top: 0;

}

.subscription .content {
    background-color: #feefd0;
    padding: 1rem; /*1rem =16px*/
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;


}

.subscription .content > img {
    height: 180px;
    width: 160px;
    margin-top: -100px;
}


.yellow-submarine {
    display: inline-block;
    padding: 0.5em 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    background-color: orange;
    color: #eefcef;
    border-radius: 0.3em;
    border: none;
    cursor: pointer;
    user-select: none;
}

.content > article {
    background-color: #fff;
    border-radius: 10%;
    gap: 50px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}

.popCateg {
    display: flex;
}

.textone {
    font-weight: 600;
    font-size: 15px;

}

.texttwo {
    color: #7E7886
}

.violeticonDesign {
    background-color: #F4F2FD;
    border-radius: 50%;
    padding: 15px;
}

.orangeDesign {
    background-color: #FFF2EC;
    border-radius: 50%;
    padding: 15px;
}



.blueDesign {
    background-color: #E7F6FB;
    border-radius: 50%;
    padding: 15px;
}


.greenDesign {
    background-color: #ECFAED;
    border-radius: 50%;
    padding: 15px;
}




/* klases */
/* .pomidoras {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
}

.agurkas {
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background-color: green;
}

.citrina {
    width: 40px;
    height: 40px;
    border-radius: 50% 10px;
    background-color: yellow;
}

.krepsinio-kamuolys {
    width: 40px;
    height: 40px;
    border-radius: 50% ;
    background-color: orange;
} */


/* div {
    margin: 5px;
    border: 5px solid blue;
}

nav > div {
    margin: 5px;
    border: 5px solid red;
} */

/* main a,
main div a,
main > div a,
main div > a,
main > div > a {
    background-color: blueviolet;
} */


