table {
    border-spacing: 0 1rem;
}


thead td {
    padding: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    border-bottom: 0.2rem solid black;
}

tbody {
    border-spacing: 2rem;
}

tbody > tr {
    background-color: #FFFFFF;
    
}


tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
    
}

tbody tr td {
    padding: 1.1rem;
}

.firstMentor {
    display: flex;
    gap: 10px;
    font-weight: 600;
    font-size: 16px ;
    
}

tbody tr td div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

tbody td img {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 60%;
}


.textMentors {
    color: #6E6A7B;

}

.buttonFollow {
    background-color: #F8B310;
    border: 1px solid #F8B310;
    padding: 5px 10px;
    border-radius: 10px;
}

.buttonFollow:hover {
    cursor: pointer;
}

.fa-envelope-o {
    font-size: 21px;
    background-color: #FFF4DA;
    padding: 5px;
    border-radius: 5px;
}


.letterIcon:hover {
    cursor: pointer;
    font-size: 24px;
}

.threedotsIcon {
    color: #E6E6E4;
    font-size: 32px;
    font-weight: 200;
}

.threedotsIcon:hover {
    cursor: pointer;
}